@property --percentage {
    initial-value: 0;
    inherits: false;
    syntax: '<number>';
  }
  
  /* animating the custom prop*/
  @keyframes updatePerc {
    to {
      --percentage: 100;
    }
  }
  
  :root {
    animation: updatePerc linear; 
    animation-timeline: scroll();
    
    /* create some custom props to derive different effects*/
   --primary-color: hsl(calc(var(--percentage, 0) * 3.6), 45%, 56%);
   --angle: calc(var(--percentage, 0) * 3.6deg);
   --txt: calc(var(--percentage));
  }
  
  /* Drawing the arc */
  .progress:after {
    background: conic-gradient(
      var(--primary-color) var(--angle),
      transparent var(--angle)
    ); 
  }
  
  /* Number as text */
  .progress__txt:after {
    counter-reset: myCounter var(--txt);
    content: counter(myCounter) "%";
    display: block;
  }
  
  
  
    /*COSMETIC*/
  .progress {
    --borderWidth: 10px;
      --size: 8rem;
    border-radius:100%;  
      width: var(--size);
      height: var(--size);
      margin: 60px auto;
      border: 1px solid white;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    font-size: 2em;
  }
  .progress:before {
    border-radius: 100%;
      content: '';
      width: calc(var(--size) - var(--borderWidth) );
      height: calc(var(--size) - var(--borderWidth));
      position: absolute;
      background: #222;
      z-index: 1;
  }
  .progress:after {
    border-radius: 100%;
      content: '';
      position: absolute;
      top: calc(var(--borderWidth)  / -2);
      left: calc(var(--borderWidth) / -2);
      width: calc(var(--size) + var(--borderWidth));
      height: calc(var(--size) + var(--borderWidth))
  }
  
  .progress__txt {
    z-index: 2;
  }
  
  /* GENERAL DOCUMENT COSMETIC */
  main{
    width: min(90%, 80ch);
    margin-inline: auto;
  
  }
  img {
    width: 100%;
  }
  body{
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    font-family: sans-serif;
    background: #222;
    color: #bbb;
  }
  
  h1 {
    width: 100%;   
    top: 0;
    color:  var(--primary-color);
    background: #222;
    font-size: 5em;
    line-height: 0.9;
    z-index: 1;
    padding-block: 2rem;
    margin-inline: -2em;
    padding-inline: 2em;
  }


  h2 {
    width: auto;   
    position: sticky;
    top: 0;
    color: var(--primary-color);
    background: #222;
    font-size: 2em; /* Ridotto rispetto al precedente 5em */
    line-height: 1.2; /* Mantenuto un buon rapporto di linea */
    z-index: 1;
    padding-block: 1rem; /* Ridotto rispetto al precedente 2rem */
    margin-inline: 0; /* Rimosso l'effetto di margine negativo */
    padding-inline: 1em; /* Ridotto rispetto al precedente 2em */
}



  code {
    font-family: "Courier New", Courier, monospace;
    background-color: #e0e0e0aa;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    overflow-x: auto;
    color: black; /* Cambia il colore del testo */
}


/* Stile per il bottone di logout */
button[name="logout"] {
  background-color: #ff5722; /* Colore di sfondo */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo predefinito */
  padding: 10px 20px; /* Padding interno del bottone */
  font-size: 16px; /* Dimensione del testo */
  border-radius: 5px; /* Angoli arrotondati */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

/* Stile per il bottone di logout quando il mouse è sopra */
button[name="logout"]:hover {
  background-color: #e64a19; /* Colore di sfondo al passaggio del mouse */
}


  p{
    line-height: 1.75;
  }